<!DOCTYPE html>
<html>
<head>
	<title>Analisis Sentiment Link youtube</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="padding:25px;">
	<div class="box1 container" 
	style="padding:10px; background-color:#ffe6e6; width:100%; height:250px; border-radius:15px;">
		<div class="container">
		  <h2>Sentiment Youtube</h2>
		  <form action="/" method="POST">
		    <div class="form-group">
		      <input type="text" class="form-control" id="link" placeholder="Masukan Link Nya Disini" name="link">
		    </div>
		    <button type="submit" class="btn btn-info" value="submit">Submit</button>
		  </form>
		</div>
	</div>
</body>
</html>